# This file contains all Codeowners. The owners of the specified files are automaticaly requested
# for review when a PR is openend

# I will be requested to review any change pushed to Netbox Sync
*       @ByteOtter


## More coming soon?